* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /*  width: "100vw";
  height: "100vh"; */
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/* 
linear
#E4F2F3
#C1D1D1
*/
